

.sider-container {
    display: flex;
    height: 100vh;
    color: var(--container-color);
  }
  
  .sider-logo-name-container {
    height: max-content;
    background-color: #fff; /* Adjust the background color as needed */
    border-right: 1px solid #f0f0f0; /* Border between logo and menu */
    padding: 16px;
  }
  
  .sider-logo {/* Adjust the width of your logo */
    height: 60px; /* Adjust the height of your logo */
    object-fit: contain;
    margin: 0 0 8px 12px;
  }
  
  .sider-app-name {
    font-size: var(--h3-font-size); /* Adjust the font size as needed */
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    text-align: center;
    margin-bottom: var(--mb-1)
  }


  .sider-menu-bar{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: var(--normal-font-size);
    width: 250px;
    
  }





  /* .ant-menu-item{
    color: var(--text-color);
  }

  .ant-menu-icon{
    color: var(--title-color)
  }

  .ant-menu-item-icon {
    color: var(--title-color); 
  }
  
  .ant-menu-item {
    color: var(--title-color); 
  } */


  .profile-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 250px;
    height: 100px;
    background-color: #fff; /* Adjust based on your design */
    border-top: 1px solid #ccc; /* Adjust based on your design */
  }
  
  .profile-user-info {
    display: flex;
    align-items: center;
  }

  .profile-user-info i{
    color: var(--title-color)
  }
  
  .user-icon {
    width: 40px; /* Adjust based on your icon size */
    height: 40px; /* Adjust based on your icon size */
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .sidenav-profile-icon{
    color: var(--title-color);
  }

  .user-details {
    display: flex;
    flex-direction: row;
  }
  
  .user-name {
    font-weight: bold;
  }
  
  .user-role {
    font-size: 12px;
  }
  
  .user-email {
    margin-top: 8px;
    font-size: 12px;
    color: #555; /* Adjust based on your design */
  }