/* roombookinglist.css */
.status-accepted {
    color: #52c41a;
  }
  
  .status-pending {
    color: #faad14;
  }
  
  .status-rejected {
    color: #f5222d;
  }
  
  .status-canceled {
    color: #d9d9d9;
  }
  
  /* Change color for edit and delete buttons */
  .ant-btn-link.edit-button {
    color: #52c41a; /* Green color for edit button */
  }
  
  .ant-btn-link.delete-button {
    color: #f5222d; /* Red color for delete button */
  }
  